/* Stile per il contenitore principale */
div {
    
    max-width: 50vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Stile per l'intestazione h2 */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Stile per il form e i suoi elementi */


.form-group {
    margin-bottom: 16px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Stile per il pulsante di invio */
button {
    background-color: #6a6666;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #472007;
}

/* Stile per il messaggio di successo */
.success-message {
    background-color: #4CAF50; /* Colore di sfondo verde */
    color: white; /* Colore del testo bianco */
    padding: 10px; /* Spaziatura interna */
    margin-top: 10px; /* Margine superiore */
    border-radius: 5px; /* Bordi arrotondati */
    text-align: center; /* Testo centrato */
  }
  
  /* Stile per il messaggio di errore */
  .error-message {
    background-color: #f44336; /* Colore di sfondo rosso */
    color: white; /* Colore del testo bianco */
    padding: 10px; /* Spaziatura interna */
    margin-top: 10px; /* Margine superiore */
    border-radius: 5px; /* Bordi arrotondati */
    text-align: center; /* Testo centrato */
  }