<div class="container">
  <h2>Aggiungi Fornitore</h2>

  <!-- Form per l'aggiunta del fornitore -->
  <form (submit)="aggiungiFornitore()" class="horizontal-form">



    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" [(ngModel)]="fornitore.nome" required minlength="1" maxlength="30" pattern="[a-zA-Z]+" #nome="ngModel">
      <div *ngIf="nome.invalid && (nome.dirty || nome.touched)">
        <div *ngIf="nome.hasError('required')" class="error-message">
          Il nome è obbligatorio.
        </div>
        <div *ngIf="nome.hasError('minlength')" class="error-message">
          Il nome deve contenere almeno 1 carattere.
        </div>
        <div *ngIf="nome.hasError('maxlength')" class="error-message">
          Il nome non deve superare 20 caratteri.
        </div>
        <div *ngIf="nome.hasError('pattern')" class="error-message">
          Il nome deve contenere solo lettere.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="fornitore.email" required #email="ngModel">
    
      <!-- Mostra il messaggio solo se il campo è "dirty" e l'email non è valida -->
      <div *ngIf="email.dirty && (email?.errors?.['email'] || !isEmailValid())" class="error-message">
        L'indirizzo email inserito non è valido.
      </div>

      <div *ngIf="emailInvalid" class="error-message">
        Inserire un email valida.
      </div>
    </div>

    <div class="form-group">
      <label for="sedeLegale">Sede Legale:</label>
      <input type="text" id="sedeLegale" name="sedeLegale" [(ngModel)]="fornitore.sedeLegale" required>
    </div>

    <div class="form-group">
      <label for="numeroTelefono">Numero di Telefono:</label>
      <input type="text" id="numeroTelefono" name="numeroTelefono" [(ngModel)]="fornitore.numeroTelefono" 
             required pattern="[0-9]*" minlength="10" maxlength="15">
      <div *ngIf="telefonoInvalid" class="error-message">
        Inserisci un numero di telefono valido.
      </div>
    </div>

    <div class="form-group">
      <label for="nazioneSede">Nazione della Sede:</label>
      <select id="nazioneSede" name="nazioneSede" [(ngModel)]="selectedCountry" required>
        <option value="" disabled selected>Seleziona una nazione</option>
        <option *ngFor="let nation of nations" [ngValue]="nation">{{ nation.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="partitaIVA">Partita IVA:</label>
      <input type="text" id="partitaIVA" name="partitaIVA" [(ngModel)]="fornitore.partitaIVA" 
             required pattern="[0-9]*" minlength="11" maxlength="11">
      <div *ngIf="partitaIVAInvalid" class="error-message">
        Inserisci una Partita IVA valida di 11 cifre.
      </div>
    </div>

    <button type="submit">Aggiungi Fornitore</button>

    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
    
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
  <!-- Fine del form per l'aggiunta del fornitore -->
</div>