/* Stile per il form di modifica */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Stile per le etichette dei campi del form */
label {
  font-weight: bold;
  font-size: 14px;
}

/* Stile per i campi da compilare */
.form-group {
  flex: 0 0 calc(25% - 10px); /* Imposta la larghezza desiderata per i campi, con margine tra di essi */
  margin-right: 10px;
}

/* Rimuove il margine dall'ultimo campo del form */
.form-group:last-child {
  margin-right: 0;
}

/* Stile per gli input dei campi del form */
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

/* Stile per il wrapper dei pulsanti */
.button-wrapper {
  margin-top: 20px;
  text-align: left;
}

/* Stile per i pulsanti all'interno del wrapper */
.button-wrapper button {
  margin-right: 10px;
}

/* Stile per il pulsante "Salva Modifiche" */
button.salva {
  background-color: #28a745;
  color: #fff;
}

/* Stile per il pulsante "Annulla" */
button.annulla {
  background-color: #dc3545;
  color: #fff;
}

/* Stile al passaggio del mouse (hover) */
button:hover {
  opacity: 0.8;
}
