/* Parent element */
.parent-element {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* Intestazione */
.parent-element h2 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* File input wrapper */
.file-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #999;
  cursor: pointer;
  margin-top: 20px;
  border: 2px dashed #999;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.file-input-wrapper.selected-file {
  background-image: url('https://e1.pngegg.com/pngimages/709/873/png-clipart-label-folders-purple-folder-icon.png');
  border: 2px solid #007bff;
}

.file-input-wrapper input[type="file"] {
  display: none;
}

/* File name overlay */
.file-name-overlay {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

/* Image wrapper */
.image-wrapper {
  width: 30px; /* Modifica la larghezza */
  height: 30px; /* Modifica l'altezza */
  overflow: hidden;
  margin-top: 10px;
}

.image-wrapper img {
  width: 100%; /* Imposta la larghezza dell'immagine al 100% del contenitore */
  height: auto; /* Imposta l'altezza automaticamente per mantenere la proporzione */
  object-fit: cover; /* Imposta l'immagine per coprire completamente il contenitore */
}
/* Stile per l'immagine con la classe .small-image */
.small-image {
  width: 1000px; /* Imposta la larghezza desiderata */
  height: auto; /* Imposta l'altezza automaticamente per mantenere la proporzione */
}


/* Upload button */
.upload-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* Success message */
.success-message {
  padding: 10px;
  border: 2px solid #28a745;
  border-radius: 5px;
  background-color: #d4edda;
  color: #155724;
  margin-top: 20px;
}

/* Error message */
.error-message {
  padding: 10px;
  border: 2px solid #dc3545;
  border-radius: 5px;
  background-color: #f8d7da;
  color: #721c24;
  margin-top: 20px;
}
