.modifica-fornitore form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modifica-fornitore .form-group {
  flex: 1;
  margin-right: 8px; /* Spazio tra i campi */
}

.modifica-fornitore .form-group:last-child {
  margin-right: 0; /* Rimuove lo spazio per l'ultimo campo */
}

label{
  font-weight: bold;
}
.modifica-fornitore input {
  
  padding: 9px; /* Aumenta il padding per rendere il campo più grande */
  font-size: 13px;
  border: 1px solid #000000; /* Colore del bordo */
  border-radius: 5px; /* Bordo arrotondato */
  box-sizing: border-box;
  display: inline-block;
  margin-right: 10px;
}
/* Stile per il pulsante "Salva Modifiche" */
.modifica-fornitore .btn-save {
  background-color: #27ae60; /* Colore verde */
  color: #fff; /* Colore del testo */
  margin-right: 10px;
}

/* Stile per il pulsante "Annulla" */
.modifica-fornitore .btn-cancel {
  background-color: #e74c3c; /* Colore rosso */
  color: #fff; /* Colore del testo */
}

/* Stile al passaggio del mouse (hover) */
.modifica-fornitore button:hover {
  
  opacity: 0.8;
}
.modifica-fornitore button{
  font-weight: bold;
}