<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Marca</th>
      <th>Descrizione</th>
      <th>Prezzo</th>
      <th>Partita IVA</th>
      <th>Quantità</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let prodotto of prodotti; let i = index">
      <tr class="magazzino">
        <!-- Visualizza i dettagli del magazzino -->
        <td><strong>Nome:</strong> <span class="nome-magazzino">{{ prodotto.nome }}</span></td>
        <td><strong>Marca:</strong> {{ prodotto.marca }}</td>
        <td><strong>Descrizione:</strong> {{ prodotto.descrizione }}</td>
        <td><strong>Prezzo:</strong> {{ prodotto.prezzo }}</td>
        <td><strong>Partita IVA:</strong> {{ prodotto.iva }}</td>
        <td><strong>Quantità:</strong> {{ prodotto.quantita }}</td>
        <td>
          <!-- Aggiungi un pulsante per attivare l'eliminazione -->
          <button class="pi pi-file-edit custom-green-icon" (click)="modificaProdotto(i)"></button>
          <!-- Aggiungi un pulsante per attivare l'eliminazione -->
          <button class="pi pi-trash custom-red-icon" (click)="rimuoviProdotto(prodotto)"></button>
        </td>
      </tr>
      <!-- Visualizza il form di modifica quando si modifica il magazzino corrente -->
      <tr *ngIf="i === prodottoDaModificareIndex">
        <td colspan="5">
          <app-modifica-prodotto
            [prodotto]="prodotto"
            [nomeOriginale]="nomeOriginale ?? null"
            (confermaModifica)="confermaModifica($event)"
            (annullaModifica)="annullaModifica(i)">
          </app-modifica-prodotto>    
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
