/* Stili per il tuo componente Angular */
.elenco-magazzini {
  font-family: Arial, sans-serif;
  background-color: #f0e1d2; /* Colore di sfondo marroncino chiaro */
  border: 1px solid #d7b899; /* Bordo leggero */
  border-radius: 5px; /* Bordi arrotondati */
  padding: 20px;
}

/* Stile per il titolo */
.elenco-magazzini h2 {
  font-size: 24px;
  color: #6b4e3a; /* Colore titolo marroncino scuro */
  margin-bottom: 20px; /* Spazio tra il titolo e la tabella */
}

/* Stile per la tabella responsive */
.table-responsive {
  overflow-x: auto; /* Permette lo scorrimento orizzontale su schermi più piccoli */
}

/* Stile per la tabella */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Spazio tra la tabella e il prossimo elemento */
  background-color: #fff; /* Colore di sfondo bianco */
}

table th,
table td {
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #6b4e3a; /* Colore marrone per l'intestazione */
  color: #fff; /* Testo bianco */
  font-weight: bold; /* Testo in grassetto */
}

table tbody tr:nth-child(even) {
  background-color: #f2e9e1; /* Colore marroncino chiaro per le righe pari */
}

table tbody tr:nth-child(odd) {
  background-color: #e6d3bf; /* Colore marroncino chiaro per le righe dispari */
}

/* Stile per i pulsanti Modifica ed Elimina */
table .btn {
  cursor: pointer;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 5px;
}
/* Stile per il pulsante "Modifica" con l'icona "pi-pencil" */
.btn-modifica {
  background-color: #5e402f; /* Arancione per il pulsante Modifica */
  color: #fff; /* Testo bianco */
  border: none;
  border-radius: 5px;
  padding: 8px 16px; /* Dimensioni leggermente più grandi */
  font-size: 18px; /* Testo leggermente più grande */
  margin-right: 3px;
}

/* Stile per il pulsante "Elimina" con l'icona "pi-trash" */
.btn-elimina {
  background-color: #823d3d; /* Rosso acceso per il pulsante Elimina */
  color: #fff; /* Testo bianco */
  border: none;
  border-radius: 5px;
  padding: 8px 16px; /* Dimensioni leggermente più grandi */
  font-size: 18px; /* Testo leggermente più grande */
}

table .btn:hover {
  opacity: 0.8;
}

/* Stile per i dettagli del magazzino */
table .nome-magazzino {
  font-weight: bold; /* Testo in grassetto */
  color: #5e402f; /* Colore marrone scuro */
}

table .attributi-magazzino {
  font-style: italic; /* Testo in corsivo per gli attributi */
  color: #6b4e3a; /* Colore marroncino scuro per gli attributi */
}

/* Stile per il form di ricerca */
.form-ricerca {
  background-color: #fff; /* Colore di sfondo bianco */
  border: 1px solid #d7b899; /* Bordo leggero */
  border-radius: 5px; /* Bordi arrotondati */
  padding: 20px;
  margin-top: 20px; /* Spazio sopra il form */
}

.form-ricerca h3 {
  font-size: 20px; /* Dimensione del titolo del form di ricerca */
  color: #6b4e3a; /* Colore marroncino scuro per il titolo */
  margin-bottom: 10px; /* Spazio tra il titolo e i campi del form */
}

.form-group {
  margin-bottom: 10px; /* Spazio tra i campi del form */
  display: inline-block;
  margin-right: 50px;
}

.form-group label {
 font-weight: bold; /* Etichette in grassetto */
  color: #6b4e3a; /* Colore marroncino scuro per le etichette */
  display: block; /* Imposta il testo dell'etichetta su una nuova riga */
  margin-bottom: 5px; /* Spazio tra le etichette */
}

.form-group input[type="text"],
.form-group input[type="number"] {
  width: 100%; /* Larghezza completa per gli input */
  padding: 10px; /* Spaziatura interna degli input */
  border: 1px solid #d7b899; /* Bordo leggero per gli input */
  border-radius: 5px; /* Bordi arrotondati per gli input */
  margin-top: 5px; /* Spazio sopra gli input */
}

.btn-ricerca {
  background-color: #5e402f; /* Colore marrone scuro per il pulsante di ricerca */
  color: #fff;
  padding: 10px 20px; /* Spaziatura interna del pulsante di ricerca */
  border-radius: 5px; /* Bordi arrotondati per il pulsante di ricerca */
  cursor: pointer;
  margin-top: 10px; /* Spazio sopra il pulsante di ricerca */
}

.btn-ricerca:hover {
  opacity: 0.8; /* Effetto di opacità al passaggio del mouse sul pulsante di ricerca */
}

/* Stile per il pulsante di ricerca */
.btn-cerca {
  background-color: #5e402f; /* Colore marrone scuro per il pulsante di ricerca */
  color: #fff;
  padding: 10px 20px; /* Spaziatura interna del pulsante di ricerca */
  border-radius: 5px; /* Bordi arrotondati per il pulsante di ricerca */
  cursor: pointer;
  margin-top: 10px; /* Spazio sopra il pulsante di ricerca */
  margin-bottom: 20px;
}

.btn-cerca i {
  margin-right: 5px; /* Spazio tra l'icona e il testo del pulsante */
}

.btn-cerca:hover {
  opacity: 0.8; /* Effetto di opacità al passaggio del mouse sul pulsante di ricerca */
}
