<div class="elenco-magazzini">
  <h2>Elenco Prodotti</h2>

  <!-- Pulsante per aprire/chiudere il form di ricerca -->
  <button class="btn btn-cerca" (click)="toggleRicerca()">
    <i class="pi pi-search"></i> Cerca Prodotti
  </button>

  <!-- Form di ricerca (inizialmente nascosto) -->
  <div class="form-ricerca" *ngIf="mostraFormRicerca">
    <h3>Ricerca Prodotti</h3>
    <form [formGroup]="searchForm" (ngSubmit)="ricercaProdotto()">
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" formControlName="nome">
      </div>
      <div class="form-group">
        <label for="descrizione">Descrizione:</label>
        <input type="text" id="descrizione" formControlName="descrizione">
      </div>
      <div class="form-group">
        <label for="prezzo">Prezzo:</label>
        <input type="number" id="prezzo" formControlName="prezzo">
      </div>
      <button type="submit" class="btn btn-ricerca">
        <i class="pi pi-search"></i> Esegui Ricerca
      </button>
    </form>
  </div>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Marca</th>
      <th>Descrizione</th>
      <th>Prezzo</th>
      <th>IVA</th>
      <th>Quantità</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let prodotto of prodotti; let i = index">
      <tr class="magazzino">
        <!-- Visualizza i dettagli del magazzino -->
        <td><strong>Nome:</strong> <span class="nome-magazzino">{{ prodotto.nome }}</span></td>
        <td><strong>Marca:</strong> {{ prodotto.marca }}</td>
        <td><strong>Descrizione:</strong> {{ prodotto.descrizione }}</td>
        <td><strong>Prezzo:</strong> {{ prodotto.prezzo }}</td>
        <td><strong>IVA:</strong> {{ prodotto.iva }}</td>
        <td><strong>Quantità:</strong> {{ prodotto.quantita }}</td>
        <td>
          <!-- Aggiungi un pulsante per attivare l'eliminazione -->
          <button class="btn-modifica" (click)="modificaProdotto(i)">
            <i class="pi pi-file-edit"></i></button>
          <!-- Aggiungi un pulsante per attivare l'eliminazione -->
          <button class="btn-elimina" (click)="rimuoviProdotto(prodotto)">
            <i class="pi pi-trash"></i></button>
        </td>
      </tr>
      <!-- Visualizza il form di modifica quando si modifica il magazzino corrente -->
      <tr *ngIf="i === prodottoDaModificareIndex">
        <td colspan="5">
          <app-modifica-prodotto
            [prodotto]="prodotto"
            [nomeOriginale]="nomeOriginale ?? null"
            (confermaModifica)="confermaModifica($event)"
            (annullaModifica)="annullaModifica(i)">
          </app-modifica-prodotto>    
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
