<div>
  <h2>Aggiungi Prodotto</h2>

  <!-- Form con controlli di validazione -->
  <form [formGroup]="prodottoForm" (submit)="aggiungiProdotto()">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" formControlName="nome">
      <div *ngIf="prodottoForm.get('nome')?.invalid && prodottoForm.get('nome')?.touched">
        <div *ngIf="prodottoForm.get('nome')?.hasError('required')">Il campo Nome è obbligatorio.</div>
        <div *ngIf="prodottoForm.get('nome')?.hasError('minlength')">Il campo Nome deve contenere almeno 3 caratteri.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="marca">Marca:</label>
      <input type="text" id="marca" name="marca" formControlName="marca">
      <div *ngIf="prodottoForm.get('marca')?.invalid && prodottoForm.get('marca')?.touched">
        <div *ngIf="prodottoForm.get('marca')?.hasError('required')">Il campo Marca è obbligatorio.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="descrizione">Descrizione:</label>
      <textarea id="descrizione" name="descrizione" formControlName="descrizione"></textarea>
      <div *ngIf="prodottoForm.get('descrizione')?.invalid && prodottoForm.get('descrizione')?.touched">
        <div *ngIf="prodottoForm.get('descrizione')?.hasError('required')">Il campo Descrizione è obbligatorio.</div>
        <div *ngIf="prodottoForm.get('descrizione')?.hasError('minlength')">Il campo Descrizione deve contenere almeno 5 caratteri.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="prezzo">Prezzo:</label>
      <input type="number" id="prezzo" name="prezzo" formControlName="prezzo">
      <div *ngIf="prodottoForm.get('prezzo')?.invalid && prodottoForm.get('prezzo')?.touched">
        <div *ngIf="prodottoForm.get('prezzo')?.hasError('required')">Il campo Prezzo è obbligatorio.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="quantita">Quantità:</label>
      <input type="number" id="quantita" name="quantita" formControlName="quantita">
      <div *ngIf="prodottoForm.get('quantita')?.invalid && prodottoForm.get('quantita')?.touched">
        <div *ngIf="prodottoForm.get('quantita')?.hasError('required')">Il campo Quantità è obbligatorio.</div>
        <div *ngIf="prodottoForm.get('quantita')?.hasError('pattern')">Il campo Quantità deve essere un numero intero positivo.</div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="iva">IVA:</label>
      <select id="iva" name="iva" formControlName="iva" class="iva-select">
        <option value="4">4%</option>
        <option value="10">10%</option>
        <option value="22">22%</option>
      </select>
    </div>

    <div class="form-group">
      <label for="id_fornitore">ID Fornitore:</label>
      <input type="number" id="id_fornitore" name="id_fornitore" formControlName="id_fornitore">
      <div *ngIf="prodottoForm.get('id_fornitore')?.invalid && prodottoForm.get('id_fornitore')?.touched">
        <div *ngIf="prodottoForm.get('id_fornitore')?.hasError('required')">Il campo ID Fornitore è obbligatorio.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="id_sottoCategoria">Sotto Categoria:</label>
      <input type="number" id="id_sottoCategoria" name="id_sottoCategoria" formControlName="id_sottoCategoria">
      <div *ngIf="prodottoForm.get('id_sottoCategoria')?.invalid && prodottoForm.get('id_sottoCategoria')?.touched">
        <div *ngIf="prodottoForm.get('id_sottoCategoria')?.hasError('required')">Il campo ID Sotto Categoria è obbligatorio.</div>
      </div>
    </div>
            
    <button type="submit">Aggiungi Prodotto</button>
  </form>
</div>
<div *ngIf="successMessage" class="alert alert-success">
  {{ successMessage }}
</div>