<div class="container">
<table class="clienti-table" *ngIf="clienti">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Username</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clienti">
      <td class="nome">{{ cliente.nome }}</td>
      <td>{{ cliente.cognome }}</td>
      <td>{{ cliente.username }}</td>
      <td>{{ cliente.email }}</td>
      <td></td>
      <button class="btn btn-primary">
        <i class="pi pi-file-edit"></i> <!-- Icona "Modifica" -->
      </button>
      <button class="btn btn-danger">
        <i class="pi pi-trash"></i> 
      </button>
    </tr>

  
  </tbody>
</table>
</div>