/* Stile per la tabella dei clienti */


/* Imposta la larghezza al 100% e rimuovi margini e padding dal contenitore */
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}


.clienti-table {
  
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Stile per l'intestazione della tabella */
  .clienti-table thead {
    background-color: #f5f5f5;
  }
  
  /* Stile per le celle dell'intestazione */
  .clienti-table th {
    
    text-align: left;
    border-bottom: 2px solid #ccc;
  }
  
  /* Stile per le righe pari della tabella */
  .clienti-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Stile per le celle delle righe della tabella */
  .clienti-table td {
    
    border-bottom: 1px solid #ccc;
  }
  
  /* Stile per il nome del cliente */
  .clienti-table td.nome {
    font-weight: bold;
  }
  
  /* Rimuovi il bordo inferiore per l'ultima cella di ciascuna riga */
  .clienti-table tbody tr td:last-child {
    border-bottom: none;
  }
  .btn i.pi {
    font-size: 1.1em; /* Modifica la dimensione dell'icona a tuo piacimento */
  }
  .btn {
    cursor: pointer;
    padding: 5px 13px;
    
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #125a07; /* Marrone scuro per il pulsante Modifica */
    color: #fff;
  }
  
  .btn-danger {
    background-color: #e40000; /* Marrone più scuro per il pulsante Elimina */
    color: #fff;
  }
  
  .btn:hover {
    opacity: 0.8;
  }