<table class="clienti-table" *ngIf="clienti">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Username</th>
      <th>Email</th>
      <!-- Altre intestazioni di colonna se necessario -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clienti">
      <td class="nome">{{ cliente.nome }}</td>
      <td>{{ cliente.cognome }}</td>
      <td>{{ cliente.username }}</td>
      <td>{{ cliente.email }}</td>
      <!-- Altre celle di dati se necessario -->
    </tr>
  </tbody>
</table>
