/* Stili per il tuo componente Angular */
.elenco-fornitori {
  font-family: Arial, sans-serif;
  background-color: #f0e1d2; /* Colore di sfondo marroncino chiaro */
  border: 1px solid #d7b899; /* Bordo leggero */
  border-radius: 5px; /* Bordi arrotondati */
  padding: 20px;
 
}

td{
  font-family: 'Courier New', Courier, monospace;
  
}
.elenco-fornitori h2 {
  font-size: 24px;
  color: #6b4e3a; /* Colore titolo marroncino scuro */
  margin-bottom: 20px; /* Spazio tra il titolo e la tabella */
}

/* Stile per la tabella responsive */
.table-responsive {
  overflow-x: auto; /* Permette lo scorrimento orizzontale su schermi più piccoli */
}

/* Stile per la tabella */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Spazio tra la tabella e il prossimo elemento */
}

table th, table td {
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #6b4e3a; /* Colore marrone per l'intestazione */
  color: #fff; /* Testo bianco */
}

table tbody tr {
  background-color: #e6d3bf; /* Colore marroncino chiaro per le righe della tabella */
}

/* Stile per i pulsanti Modifica ed Elimina */
.btn {
  cursor: pointer;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 5px;
  margin-bottom: 2%;
}

.btn-primary {
  background-color: #5e402f; /* Marrone scuro per il pulsante Modifica */
  color: #fff;
}

.btn-danger {
  background-color: #823d3d; /* Marrone più scuro per il pulsante Elimina */
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}
table tbody tr {
  background-color: #e6d3bf; /* Colore marroncino chiaro per le righe della tabella */
}

table tbody tr:not(:last-child) {
  border-bottom: 1px solid #d7b899; /* Aggiunge un bordo inferiore tra le righe */
}

.btn i.pi {
  font-size: 1.1em; /* Modifica la dimensione dell'icona a tuo piacimento */
}
