<!-- Il tuo componente Angular -->
<div *ngIf="fornitori" class="elenco-fornitori">
  <h2>Elenco Fornitori</h2>

  <button class="btn btn-primary" (click)="mostraFormRicerca()">
    <i class="pi pi-search">      Cerca </i> 
  </button>


  <form  *ngIf="mostraFormRicercaFlag" (ngSubmit)="cercaFornitori()" class="search-form" >
    <table>
      <h5>Ricerca fornitore</h5>
      <tr>
        <td>
          <label for="search-nome">Nome:</label>
          <input type="text" id="search-nome" [(ngModel)]="criteriRicerca.nome" name="search-nome">
        </td>
        <td>
          <label for="search-sedeLegale">Sede Legale:</label>
          <input type="text" id="search-sedeLegale" [(ngModel)]="criteriRicerca.sedeLegale" name="search-sedeLegale">
        </td>
        <td>
          <label for="search-nazioneSede">Nazione Sede:</label>
          <input type="text" id="search-nazioneSede" [(ngModel)]="criteriRicerca.nazioneSede" name="search-nazioneSede">
        </td>
        <td>
          <label for="search-partitaIVA">Partita IVA:</label>
          <input type="text" id="search-partitaIVA" [(ngModel)]="criteriRicerca.partitaIVA" name="search-partitaIVA">
        </td>
        <td>
          <label for="search-email">Email:</label>
          <input type="text" id="search-email" [(ngModel)]="criteriRicerca.email" name="search-email">
        </td>
        <td>
          <label for="search-numeroTelefono">Numero di Telefono:</label>
          <input type="text" id="search-numeroTelefono" [(ngModel)]="criteriRicerca.numeroTelefono" name="search-numeroTelefono">
        </td>
        <td>
          <button type="submit" class="btn btn-primary">
          <i class="pi pi-search"></i> 
        </button>
        </td>
      </tr>
    </table>
  </form>


  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Sede Legale</th>
          <th>Nazione Sede</th>
          <th>Partita IVA</th>
          <th>Email</th>
          <th>Telefono</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let fornitore of fornitori">
          <tr class="fornitore-item">
            <!-- Utilizzo di ngIf per mostrare i dati del fornitore o il modulo di modifica -->
            <td>{{ fornitore.nome }}</td>
            <td>{{ fornitore.sedeLegale }}</td>
            <td>{{ fornitore.nazioneSede }}</td>
            <td>{{ fornitore.partitaIVA }}</td>
            <td>{{ fornitore.email }}</td>
            <td>{{ fornitore.numeroTelefono }}</td>
            <td>
              <!-- Aggiungi il pulsante Modifica -->
              <button class="btn btn-primary" (click)="modificaFornitore(fornitore)">
                <i class="pi pi-file-edit"></i> <!-- Icona "Modifica" -->
              </button>
              <button class="btn btn-danger" (click)="eliminaFornitore(fornitore)">
                <i class="pi pi-trash"></i> 
              </button>
            </td>
          </tr>
          <tr *ngIf="modificaAperta && fornitoreInModifica && modificaAperta && fornitoreInModifica.id === fornitore.id">
            <td colspan="7">
              <!-- Modulo di modifica del fornitore -->
              <app-modifica-fornitore
              *ngIf="modificaAperta && fornitoreInModifica && fornitoreInModifica.id === fornitore.id"
              [fornitore]="fornitoreInModifica"
              (modificaCompletata)="gestisciModificaCompletata()"
              (annullaModificaEvento)="gestisciAnnullaModifica()">
            </app-modifica-fornitore>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>