<div *ngIf="prodotti.length > 0">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Marca</th>
        <th>Descrizione</th>
        <th>Prezzo</th>
        <th>IVA</th>
        <th>Quantità</th>
        <th>Sotto Categoria</th>
        <th>Aggiungi al carrello</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prodotto of prodotti">
        <td>{{ prodotto.nome }}</td>
        <td>{{ prodotto.marca }}</td>
        <td>{{ prodotto.descrizione }}</td>
        <td>{{ prodotto.prezzo }}</td>
        <td>{{ prodotto.iva }}</td>
        <td>{{ prodotto.quantita }}</td>
        <td>
          <ng-container *ngFor="let categoria of prodotto.sottoCategoria; let last = last">
            {{ categoria }}{{ last ? '' : ', ' }}
          </ng-container>
        </td>
        <td>
          <button (click)="aggiungiRigaDOrdine(prodotto)">Aggiungi al carrello</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  
  <!-- Carrello -->
  <div *ngIf="carrello.length > 0">
    <h2>Carrello</h2>
    <ul>
      <li *ngFor="let prodotto of carrello">
        {{ prodotto.nome }} - {{ prodotto.prezzo }} - {{ prodotto.marca }}
        <button (click)="rimuoviProdottoDalCarrello(prodotto)">Rimuovi</button>
      </li>
    </ul>
  </div>

  <div *ngIf="carrello.length > 0">
    <h2>Prezzo Totale: {{ prezzoTotaleOrdine }}</h2>
    <button (click)="confermaOrdine(); carrello = []">Conferma Ordine</button>
    <p *ngIf="carrello.length === 0">Ordine confermato! I prodotti sono stati rimossi dal carrello.</p>
  </div>
  
  <div *ngIf="prodotti.length === 0">
    Nessun prodotto trovato.
  </div>
  