/* Stili per il tuo componente Angular "Magazzino" */
.elenco-magazzini {
  font-family: Arial, sans-serif;
  background-color: #f0e1d2; /* Colore di sfondo marroncino chiaro */
  border: 1px solid #d7b899; /* Bordo leggero */
  border-radius: 5px; /* Bordi arrotondati */
  padding: 20px;
}

.elenco-magazzini h2 {
  font-size: 24px;
  color: #6b4e3a; /* Colore titolo marroncino scuro */
  margin-bottom: 20px; /* Spazio tra il titolo e la tabella */
}

.table-responsive {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff; /* Colore di sfondo bianco */
}

table th,
table td {
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #6b4e3a;
  color: #fff;
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background-color: #f2e9e1;
}

table tbody tr:nth-child(odd) {
  background-color: #e6d3bf;
}

table .btn {
  cursor: pointer;
  padding: 6px 0;
  width: 99px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

/* Stile per i campi di ricerca disposti in orizzontale */
.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Allinea i campi a sinistra */
}

.form-group {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 10px;
}

.form-ricerca label {
  color: #6b4e3a;
  font-weight: bold;
}

.form-ricerca input[type="text"],
.form-ricerca input[type="number"] {
  width: calc(50% - 5px); /* Imposta la larghezza al 50% con uno spazio tra di essi */
}

.form-ricerca button.btn-ricerca {
  background-color: #6b4e3a;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px; /* Aggiunto margine sopra il pulsante per separarlo dai campi di ricerca */
}

.form-ricerca button.btn-ricerca:hover {
  opacity: 0.9;
}

.elenco-magazzini button.btn-cerca {
  background-color: #6b4e3a;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
}

.elenco-magazzini button.btn-cerca:hover {
  opacity: 0.9;
}
