/* Stile per il menu personalizzato */
.custom-menubar {
    background-color: #852323;
    color: #3f0a0a;
    font-size: 20px;
  }
  
  /* Spaziatura tra gli elementi del menu */
  .custom-menubar .ui-menuitem {
    margin-right: 20px;
  }
  
  /* Stile per l'immagine del menu */
  img {
    height: 25vh;
    width: auto;
    margin-top: 5%;
  }


