<div class="card">
  <p-menubar [model]="items" class="custom-menu">
    <ng-template pTemplate="start">
      <img src="https://th.bing.com/th/id/OIP.iItjx2XLoFx1Rwgt0ug0yQHaFw?pid=ImgDet&rs=1"
           height="60"
           class="menu-logo"
           (click)="navigateToHome()" />
    </ng-template>
    <ng-template pTemplate="end">
      <input type="text" pInputText placeholder="Cerca" class="w-full" (input)="ricercaFornitori()" [(ngModel)]="searchTerm" />
      <ul *ngIf="searchTerm && searchResults.length > 0" class="search-results">
        <li *ngFor="let result of searchResults">
          {{ result.nome }}
        </li>
      </ul>
    </ng-template>
  </p-menubar>
</div>

