<div class="titolo">Benvenuti nel nostro Negozio!</div>





<div *ngIf="prodotti.length > 0">
  <div class="prodotti-container">
    <table class="prodotto-table">
      <thead>
        <tr class="table-header">
          <th>Nome</th>
          <th>Marca</th>
          <th>Descrizione</th>
          <th>Prezzo</th>
          <th>IVA</th>
          <th>Quantità</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prodotto of prodotti" class="table-row">
          <td>{{ prodotto.nome }}</td>
          <td>{{ prodotto.marca }}</td>
          <td>{{ prodotto.descrizione }}</td>
          <td>{{ prodotto.prezzo }}</td>
          <td>{{ prodotto.iva }}</td>
          <td>{{ prodotto.quantita }}</td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="prodotti.length === 0">
  Nessun prodotto trovato.
</div>