.titolo {
  margin-top: 1%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
  color: #333;
  text-align: center;
  padding: 20px;
  background-color: #a97a5a;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Effetto hover */
.titolo:hover {
  background-color: #6b4e3a;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}


.prodotto-table {
  border: solid;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.prodotto-table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0); /* Rendi la riga completamente trasparente */
}


.prodotto-container {
  font-family: Arial, sans-serif;
  background-color: #f0e1d2; /* Colore di sfondo marroncino chiaro */
  border: 1px solid #d7b899; /* Bordo leggero */
  border-radius: 5px; /* Bordi arrotondati */
  padding: 20px;
}

.prodotto-container h2 {
  font-size: 24px;
  color: #6b4e3a; /* Colore titolo marroncino scuro */
  margin-bottom: 20px; /* Spazio tra il titolo e la tabella */
}

.table-responsive {
  overflow-x: auto; /* Permette lo scorrimento orizzontale su schermi più piccoli */
}

.prodotto-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Spazio tra la tabella e il prossimo elemento */
}

.prodotto-table th, .prodotto-table td {
  padding: 10px;
  text-align: left;
}

.prodotto-table th {
  background-color: #6b4e3a; /* Colore marrone per l'intestazione */
  color: #fff; /* Testo bianco */
}

.prodotto-table tbody tr {
  background-color: #e6d3bf; /* Colore marroncino chiaro per le righe della tabella */
}

.btn-prodotto {
  cursor: pointer;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 5px;
}

.btn-modifica {
  background-color: #5e402f; /* Marrone scuro per il pulsante Modifica */
  color: #fff;
}

.btn-elimina {
  background-color: #823d3d; /* Marrone più scuro per il pulsante Elimina */
  color: #fff;
}

.btn-prodotto:hover {
  opacity: 0.8;
}

.prodotto-table tbody tr:not(:last-child) {
  border-bottom: 1px solid #d7b899; /* Aggiunge un bordo inferiore tra le righe */
}

.btn-prodotto i.pi {
  font-size: 1.1em; /* Modifica la dimensione dell'icona a tuo piacimento */
}